@import url("https://p.typekit.net/p.css?s=1&k=bgb3bej&ht=tk&f=16353.37464&a=117898963&app=typekit&e=css");

@font-face {
font-family:"montserrat";
src:url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/32b0e4/00000000000000007735a185/30/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"montserrat";
src:url("https://use.typekit.net/af/2180b4/00000000000000007735a193/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/2180b4/00000000000000007735a193/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/2180b4/00000000000000007735a193/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

.tk-montserrat { font-family: "montserrat",sans-serif; }

body {
    width: 100%;
    height: 100%;
    background: url(../image/Background.png) no-repeat;
    background-size: cover;
    font-family: 'montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#left-content, #right-content {
    flex: 1 1 0;
    height: 100%;
    text-align: center;
    color: #fff;
}

#left-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: right;
}

header #title-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}

header #title-2 {
    font-size: 40px;
    font-weight: 700;

}

#right-content{
    position: relative;
    display: flex;
    align-items: center;
}

.fade-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: .76;
}

.login {
    height: 600px;
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

#authentication-sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#authentication-sidebar .header {
    text-align: left;
}

.header h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #294430;
}

.form-container form div {
    margin-top: 20px;
}

.username, .password {
    text-align: left;
}

.username input, .password input{
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 22px;
    margin-top: 12px;
    background: #D9D9D9;
    border-radius: 10px;
    border: 1px solid transparent;
    outline-color: #857373;
}

.username input::placeholder, .password input::placeholder{
    color: #857373;
}


.btn-login a {
    text-align: right;
    color: #857373;
    font-weight: 400;
    font-size: 18px;
}

.btn-login input {
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    background-color: #294430;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5ms;
    margin-top: 20px;
}

.btn-login input:hover {
    color: #fff;
    background-color: #1C2E20;
}

.register {
    font-weight: 400;
    font-size: 24px;
    padding-top: 20px;
    color: #000;
}

.register a {
    text-decoration: none;
    color: #294430;
    font-weight: bold;
    font-size: 24px;
}